<h1>Community Dictionary</h1>
<h2>Welcome!</h2>
<p>
  This is the home page for your Community Dictionary
</p>

<%= form_tag(dictionary_show_path, method: 'get') do %>
    <%= select_tag('lang',
                   options_from_collection_for_select(LangEnum.all.collect, 'id', 'long_descr'),
                   prompt: 'Select a Dictionary',
                   class:  'form-control'
        ) %>
    <%= submit_tag('Go', class: "btn btn-small btn-primary") %>
<% end %>
